@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}
.home{
        padding: 1% 5%;

        background-color: #57b846;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-size: 150%;
      }
      .home:hover{
        
        background-color: rgb(59, 59, 59);
       transition: all 0.8s;
      }
.container {
  text-align: center;
  margin: auto;
  padding: 4em;
}
 .container img {
    width: 256px;
    height: 225px;
  }

  .container h1 {
    margin-top: 1rem;
    font-size: 35px;
    text-align: center;
}
    .container h1 span {
      font-size: 60px;
    }
  
  .container p {
    margin-top: 1rem;
  }

  

